/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
user.ini
/.dynamic
/resources/js/components/Custom/*.vue
/modules/*/node_modules
/modules/*/vendor
/modules/*/package-lock.json
/modules/*/composer.lock
/storage/app/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
*.zip
*.rar
/Tentativa para docker
/arquivo para subir na hostgator
/concordcrm-v1.5.1
